.menu-bars {
    opacity: 0;
}

/* Responsive */
/* Mobile Device  */
@media screen and (max-width: 576px) {

    /* Header */
    .header {
        width: 100%;
    }


    /* Navbar */
    .navbar {
        width: 95%;
        flex-direction: row;
    }

    .nav-links {
        display: none;
    }
    .nav-icon{
        display: inline;
    }
    /* Banner */
    .banner {
        width: 100%;
        flex-direction: column;
    }
    .banner-description{
        width: 80%;
    }
    .free-workout {
        right: 20px;
        top: 975px
    }
    
    .video-tutorial {
        top: 1250px;
        right: 250px;
    }
    .btn-primary{
        margin-bottom: 15px;
    }
    
    #menu-bars {
        opacity: 1;
    }
    
    
    /* Habits */
    .habits {
        height: 100%;
    }
    
    .habits-container {
        width: 95%;
    }
    
    .habits-title {
        font-size: 35px;
    }
    
    .habits-description {
        width: 95%;
        font-size: 12px;
    }
    
    .fitnes-img-container{
        display: block;
    }
    
    /* Run Extra */
    .run-extra-container {
        width: 95%;
        flex-direction: column;
        gap: 25px;
    }
    
    .run-extra-content button {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
    
    .run-extra-right-side {
        justify-content: center;
    }
    
    .run-extra-right-side img {
        width: 100%;
    }
    
    
    
    
    /* BMI Calculator */
    .bmi-calculator-content {
        width: 95%;
    }
    
    
    /* BMI Calculator Chart */
    .bmi-calculator-chart-container {
        width: 95%;
        flex-direction: column;
        gap: 40px;
        padding: 0px;
        padding-bottom: 30px;
    }
    
    .bmi-calculator-chart-left {
        margin-right: 0px;
        gap: 30px;
    }
    
    .bmi-calculator-chart-left,
    .bmi-calculator-chart-right {
        width: 100%;
    }
    
    .bmi-calculator-chart-input input[type="text"],
    .bmi-calculator-chart-input select {
        padding: 15px 25px;
        width: 100%;
    }
  
    
    .bmi-calculator-chart button {
        display: inline;
    }
    

    
    
    /* Team */
    .team-container {
        width: 95%;
    }
    
    .team-title {
        font-size: 35px;
    }
    
    .team-description {
        width: 90%;
        font-size: 12px;
    }
    
    .team-cards {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 auto;
        row-gap: 20px;
    }
    
    /* FAQ styles */
    .faq-content{
        display: block;
        align-items: center;
      }
      .faq-content img{
        margin-left: -50px;
        width: 150%;
      }
    
    /* Footer */
    .footer-container {
        width: 95%;
        grid-template-columns: 1fr;
        gap: 25px;
    }
    
    .footer-description {
        width: 95%;
    }
    
    .footer-middle {
        margin-left: 0px;
    }
    
    .footer hr {
        width: 90%;
    }
}

